*,
::after,
::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(233, 233, 255);
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 200px;
}

h1 {
  font-size: 4rem;
}

#value {
  margin-top: 25px;
  font-size: 5rem;
  font-weight: bold;
}

button {
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  letter-spacing: 3px;
  outline: none;
  border-radius: 7px;
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.decrease:active {
  color: red;
  background-color: rgb(255, 181, 180);
}

.increase:active {
  color: green;
  background-color: rgb(206, 256, 206);
}

.reset:active {
  color: rgb(53, 53, 53);
  background-color: rgb(218, 215, 218);
}