* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(233, 233, 255);
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 140px;
}

h1 {
  font-size: 60px;
}

#value {
  margin-top: 25px;
  font-size: 90px;
  font-weight: bold;
}

button {
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  outline: none;
  border-radius: 7px;
  margin-top: 25px;
  /* box-shadow: 0 10px 10px rgba(250, 250, 250, 0.8); */
}

button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.decrease:active {
  color: red;
  background-color: rgb(255, 180, 180);
}

.increase:active {
  color: green;
  background-color: rgb(206, 255, 206);
}

.reset:active {
  color: rgb(53, 53, 53);
  background-color: rgb(218, 218, 218);
}